{% extends 'VictoireCmsBundle:Widget:edit.html.twig' %}

{% block form %}
<div class="alert alert-warning">{{ 'widget.sharethis.edit.nocustomisation'|trans({}, 'victoire') }}</div>
{% endblock form %}
