{% extends 'VictoireCoreBundle:Widget:new.html.twig' %}

{% block body %}
{{ parent() }}
<div class="alert alert-warning">{{ 'widget.sharethis.nocustomisation'|trans({}, 'victoire') }}</div>
{% endblock body %}
